<?xml version="1.0"?>

<model>
  <name>block3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yusuf Suvari</name>
    <email>yusuf.suvari.tr@gamil.com</email>
  </author>

  <description>
    The third bulding block of the arena used in modul "Projektseminar Robotik und Computational Intelligence" at Technical University of Darmstadt.
    https://github.com/NikHoh/jetbot_ros
  </description>
</model>

